{{set . "title" "links | amiller.im"}}
{{template "header.html" .}}
<div class="container">
    <div class="row-fluid page">
        {{template "navigation.html" .}}
        <div class="span6 post-content">
            <h1>links</h1>
            <h3> Here are websites that I found influencial or friends websites</h3>
            <h4>Programming Related</h4>
            <p>Probably one of the best website for learning about programming and the software engineering process. Some articles on here are worth more then gold. Highly recommended. <a href="http://www.joelonsoftware.com/" title="Joel on software">joelonsoftware</a></p>
            <p>Inspiration for this website <a href="http://www.ironzebra.com/" title="IronZebra">IronZebra</a></p>
            <p>Inspiration for the domain name and website <a href="https://andrew.im/" title="andrew.im">andrew.im</a></p>
            <h4>Friends</h4>
            <p>My brothers website. Rocking frontpage still &#9786; <a href="http://www.joefsu.com/" title="Joefsu">joefsu</a></p>
            <p>Czech club in miami. <a href="http://acscc.org/" title="acscc">acscc</a></p>
            {{template "postfooter.html" .}}
        </div>
    </div>
</div>
{{template "footer.html" .}}
