{{set . "title" "Blog | amiller.im"}}
{{template "header.html" .}}
<div class="container">
    <div class="row-fluid page">
        {{template "navigation.html" .}}
        <div class="span6">
            <div class="postlist">
                {{range .posts}}
                    <div class="post">
                        <a href="/posts/{{.PostId}}">
                            <h1 class="title">{{.Title}}</h1>
                            <h2 class="subtitle">{{.Subtitle}}</h2>
                        </a>
                    </div>
                    <hr>
                {{end}}
            </div>
            <div class="full-list center">
                <a href="/posts/all">All the amiller.im posts</a>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}
