<div class="span2 offset2 sidebar">
    <a href="/"><img alt="amiller.im - Building applications that help people in South Florida" src="/public/img/me.png"></a>
    <!-- Navigation TODO Move this to a template at somepoint-->
    <h3 align="center"><a href="/posts">blog</a></h3>
    <h3 align="center"><a href="/social">social</a></h3>
    <h3 align="center"><a href="/resume">r&eacute;sum&eacute;</a></h3>
    <h3 align="center"><a href="/contact">contact</a></h3>
    <h3 align="center"><a href="/links">links</a></h3>
    <!-- End Navigation -->
</div>